<div class="code-snippet">
  <%= for line <- @code_snippet.lines do %>
    <div class="line <%= if line.highlight, do: "highlight" %>"><span
      class="number"><%= line.number %></span><span
      class="content"><%= line.content %></span></div>
  <% end %>
</div>
