<div class="failure-snippet">
  <div class="file-ref">
    <span class="file-path"><span><%= @failure.file_path %></span><span class="file-line-sep">:</span><span class="line-number"><%= @failure.line_number %></span></span>
  </div>
  <div class="description"><%= @failure.full_description %></div>
  <div class="exception-class"><%= @failure.exception.class %></div>
  <div class="exception-message"><%= @failure.exception.message %></div>
</div>
