<div class="run-stats">
  <%= for key <- [:passed, :failed, :pending] do %>
    <%= if @stats[key] do %>
      <span class="<%= key %>"><span class="num"><%= @stats[key] %></span> <%= key %></span>
    <% end %>
  <% end %>
</div>
