<header id="status-pane">

</header>
<main id="failures-container">
  <div id="failures-pane">
  </div>
  <div id="details-container">
    <div id="details-pane">
    </div>
    <div id="code-pane">
      <div id="events">
      </div>
    </div>
  </div>
</main>
